<div>
  <button
    class="btn btn-sm btn-danger mt-5 ml-5"
    routerLink="/admin/addcategory"
  >
    Nouvelle
  </button>
</div>

<div class="list row">
  <div class="col-md-6">
    <h4>Categories</h4>

    <ul>
      <li
        class="list-group-item"
        *ngFor="let category of categories; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCategory(category, i)"
      >
        {{ category.name }}
        <div>
          <button class="btn btn-sm btn-danger" (click)="remove(category.id)">
            supprimer
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-category-details
      [viewMode]="true"
      [currentCategory]="currentCategory"
    ></app-category-details>
  </div>
</div>
