
 <small>
  <button class="btn btn-primary" routerLink='/admin/board/products'>
    produits
  </button>
</small>
<small>
  <button class="btn btn-primary" routerLink='/admin/carts/'>
    paniers
  </button>
</small>

<small>
  <button class="btn btn-primary" routerLink='/admin/categories'>
    catégories
  </button>
</small>
    <app-users-list></app-users-list>
    <td>
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </td>
  

  
  
  
  

  
  

  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  






















